
.purchase-page {
  padding: 20px;
  line-height: 1.6; 
  align-content:left;
  text-align:left;
}


.form-group {
  margin-bottom: 25px;
}

input,
textarea {
  width: 100%; 
  padding: 10px;
  border: 2px solid #cccccc; 
  border-radius: 5px;
  background-color: #ffffff; 
}

input:focus,
textarea:focus {
  outline: 2px solid #004CA3; 
  border-color: #004CA3;
}

.buttonPurchase {
  padding: 10px 20px;
  font-size: 1.2rem;
  font-weight: 600;
  background-color: #004CA3; 
  color: #ffffff; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover,
button:focus {
  background-color: #ffffff; 
  outline: 2px solid #004CA3;
  color: #004CA3;
}

a {
  color: #004CA3; 
  text-decoration: underline; 
}

a:hover,
a:focus {
  color: #004CA3; 
  outline: 2px solid aquamarine; 
}
