.description {
  margin-bottom: 1%;
  font-size: 1.1em;
}

.table-transport {                       
  margin: 0 auto;           
  border-collapse: collapse;
  display: block;
}

.tablecell {
  border: 1px solid black; 
  padding: 10px 20px;          
  text-align: center; 
}

.tableheader{
  font-weight: bold;
  border: 1px solid black; 
  padding: 8px;            
  text-align: center; 
  word-wrap: break-word;
  width: 10%;
}

.ordered-list {
  display: none; /* Initially hide the ordered list */
}

/* Media query for small screens */
@media (max-width: 525px) {
  .transport-table {
    display: none; /* Hide the table */
  }

  .ordered-list {
    display: block; /* Show the ordered list */
    padding-left: 20px;
  }

  .ordered-list-item {
    margin-bottom: 20px;
  }

  .ordered-list-item strong {
    display: block;
    font-size: 1.2rem;
    margin-bottom: 5px;
  }

  .ordered-list-item span {
    display: block;
    font-size: 1rem;
    margin-bottom: 3px;
  }
}


/*This button behaves as a link, so a specific class is needed*/
.button {
  padding: 10px 20px;
  font-size: 1.2em;
  font-weight: 600;
  background-color: #004CA3;
  color: #ffffff; 
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover,
.button:focus {
  background-color: #ffffff; 
  outline: 2px solid #004CA3;
  color: #004CA3;
}




